
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>following</title>
  </head>
  <body>
  <%   if(object1.length===0){%>
    <h1>follow others</h1>
    <% }else{ %>
    <% for(var i=0;i<object1.length;i++){ %>
    <h1>   <%= object1[i] %> </h1>
  <%  } }%>
</body>
</html>
