<%- include("header"); -%>
<link rel="stylesheet" href="/styles.css">
<title>swasthya guru</title>
</head>

<body>
<h1>SwasthyaGuru</h1>
<span></span>


<form class="w" action="/login" method="post">
  <input  type="text" name="username" placeholder="Enter UserName">
  <br>
  <input type="password" name="password" placeholder="Enter Password">
  <br>
  <a class="home" href="">sign in</a>
  <br>
  <p style="display:inline;color:white;font-size:1.3rem">Are you New?,Create account ...</p>
  <br>
  <a href="/signup" >signup</a>

</form>




<%- include("header"); -%>
