<%- include("header"); -%>
<link rel="stylesheet" href="/css/styles.css">
<title>swasthya guru</title>
</head>

<body>
<h1>SwasthyaGuru</h1>
<span></span>

<p class="message"><%= message %></p>

<form class="w" action="/login" method="post">
  <input  type="text" name="username" placeholder="Enter UserName" required>
  <br>
  <input type="password" name="password" placeholder="Enter Password" required>
  <br>
  <button class="home" type="submit">sign in</button>
  <br>
  <p style="display:inline;color:white;font-size:1.3rem">Are you New?,Create account ...</p>
  <br>
  <a href="/signup" >signup</a>

</form>

<script src="C:\Users\DELL\Desktop\health app\jas\login.js" charset="utf-8"></script>


<%- include("header"); -%>
