<%- include("header"); -%>
<link rel="stylesheet" href="/css/precautions.css">
<title>swasthya guru</title>
</head>
<body>


<div class="header">
     <div class="menubutton">
       <span class="bar"></span>
       <span class="bar"></span>
       <span class="bar"></span>
    </div>
</div>
    <div class="menubar">
      <ul class="navbar">
        <li><a href="/home" >Home</a></li>
            <li><a href="/asanas">Asanas</a></li>
            <li><a href="/precautions" class="active">Precautiouns</a></li>
              <li><a href="/profile">Profile</a></li>
            <form  action="/deleteaccount" method="post">
              <li><button type="submit">Delete Account</button></li>
            </form>

      </ul>
      </div>

<div class="precautions">

<h3>Precautions</h3>
<br>
<br>
<p>

  Śauca means cleanliness - an important prerequisite for Yoga practice. It includes cleanliness of surroundings, body and mind.
<br>
<br>
Asanas should be practiced on an empty stomach. Consume small amount of honey in lukewarm water if you feel weak.
<br>
<br>
Bladder and bowels should be empty before starting Yogic practices.
<br>
<br>
Practice sessions should start with a prayer or an invocation as it creates a conducive environment to relax the mind.
<br>
<br>
Yogic practices shall be performed slowly, in a relaxed manner, with awareness of the body and breath.
<br>
<br>
A Warm up or loosening exercise and stretches before asanas is mandatory to avoid injuries.
<br>
<br>
Asanas should be done slowly and one should move to advanced postures with practice.
<br>
<br>
Try to eat Satvik food (Avoid meat, eggs, onion, garlic and mushrooms from diet).
<br>
<br>
Stay hydrated before going into yoga practice
<br>
<br>
Wear supportive and comfortable clothing. Light and comfortable cotton clothes are preferred to facilitate easy movement of the body.
<br>
<br>
Yoga should be practiced in a well ventilated room with a pleasant draft of air
<br>
<br>
Use a mat with a good grip to do Yogasanas
<br>
<br>
Be aware of breathing while doing Yogasanas.
<br>
<br>
Complete the yoga session with relaxation techniques to cool down
<br>
<br>
Do not hold the breath unless it is specially mentioned to do so during the practice.
<br>
<br>
Breathing should be always through the nostrils unless instructed otherwise.
<br>
<br>
Do not hold the body tight or give undue jerks to the body.
<br>
<br>
Perform the practices according to one’s capacity. It takes some time to get good results, so persistent and regular practice is very essential.
<br>
<br>
There are contra-indications/ limitations for each Yoga practice and such contra-indications should always be kept in mind.
<br>
<br>
Yoga session should end with meditation/ deep silence / Sankalpa / Śānti pāṭha etc.
<br>
<br>
For the spiritual seeker , the Yamas and Niyamas are yoga’s ethical guidelines and disciplines laid out in the first two limbs of Patanjali’s eightfold path and together, they form a moral code of conduct. The niyamas are things to do, or observances. They include Śauca (शौच): Purity, clearness of mind, speech and body; Santoṣa (सन्तोष): Contentment, acceptance of others and of one's circumstances as they are, optimism for self; Tapas (तपस्): Austerity, self-discipline, [8] persistent meditation, perseverance; Svādhyāya (स्वाध्याय): Study of self, self-reflection, introspection of self's thoughts, speeches and actions; Īśvarapraṇidhāna (ईश्वरप्रणिधान): Contemplation of the Ishvara (God/Supreme Being, supreme consciousness).
<br>
<br>
Yoga should not be performed in a state of exhaustion, illness, in a hurry or in an acute stress conditions.
<br>
<br>
Women should refrain from regular yoga practice especially asanas during their menses. Relaxation techniques and pranayama can be done instead.
<br>
<br>
Don’t perform yoga immediately after meals. Wait until 2 to 3 hours after a large meal.
<br>
<br>
Don’t shower or drink water or eat food for 30 minutes after doing yoga.
<br>
<br>
During illness, surgeries, or any sprains or fractures, one should refrain from Yoga Practice. They can resume yoga after consulting experts.
<br>
<br>
Don’t do strenuous exercises after yoga.
<br>
<br>
Don’t practice yoga in adverse and extreme weather conditions (too hot, too cold or humid)
<br>
<br>
According to the yoga texts for the spiritual seeker one needs to follow The yamas or restraints. They are the basic principles which are to be followed to lead spiritual growth.
<br>
<br>
They include Ahiṃsā (अहिंसा): Nonviolence; Satya (सत्य): Truthfulness; Asteya (अस्तेय): Not stealing; Brahmacharya (ब्रह्मचर्य): Marital fidelity, sexual restraint; Aparigraha (अपरिग्रहः): Non-avarice, non-possessiveness. Other attributes such as Kṣamā (क्षमा): Patience, forgiveness; Dhrti (धृति): Fortitude, perseverance with the aim to reach the goal, Dayā (दया): Compassion Ārjava (आर्जव): Non-hypocrisy, sincerity, Mitāhāra (मिताहार): Measured diet etc are also to be adopted.
<br>
<br>
</p>
</div>




<script src="/js/precautions.js" charset="utf-8"></script>



<%- include("footer"); -%>
