*{
  margin:0px;
  padding:0px;
}
h1{
   font-family:'Tangerine', cursive;
   color:#C74B50;
   font-size: 5.7rem;
   position:absolute;
   top:7.3rem;
   left:4rem;
   z-index:1;
}
body{
  background-image:linear-gradient(to right,yellow,orange);
  background-repeat: no-repeat;
  width: 100vw;
  height:100vh;
  z-index:0;
  overflow-x:hidden;
}
.about{
  z-index:1;
  color:#FD5D5D;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.4rem;
  font-stretch: expanded;
  font-display: swap;
  text-align: left;
  position: absolute;
  top:17rem;
  left:4rem;
  right:45rem;
}
.markad{
  display:block;
  height:0.2px;
  width:378px;
  position:absolute;
  top:12rem;
  left:4rem;
  border-color:#417D7A;
  border-style:solid;
  z-index:-1;
}
.slider{
  position:absolute;
  top:18.6rem;
  right:12rem;
  width:15rem;
  overflow: hidden;
}
.images{
  display:flex;
  width:100%
}
.images img{
  height:250px;
  width:100%;
  transition: all 0.15s ease;
}
.images input{
  display:none;
}
.dots{
  display: flex;
  justify-content: center;
  margin:5px;
}
.dots label{
  height:13px;
  width:13px;
  border-radius: 50%;
  border:solid #29C7AC 5px;
  cursor:pointer;
  transition: all 0.15s ease;
  margin:5px;
}
.dots label:hover{
  background: #fff;
}

#img2:checked ~ .m2{
  margin-left: 0;
}
#img3:checked ~ .m3{
  margin-left: -100%;
}
#img4:checked ~ .m4{
  margin-left: -200%;
}
#img5:checked ~ .m5{
  margin-left: -300%;
}

.header{
  width:100vw;
  height:5rem;
  background-color: black;
  position: fixed;
  top:0;
  left:0;
  z-index:2;
  overflow-x: hidden;
}
.menubar{
  position:absolute;
  left:0;
  top:-100rem;
  height:95%;
  width:100vw;
  background-color: black;
  z-index:3;
   overflow: hidden;
}
.navbar{
  padding-top: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li{
  list-style: none;
  line-height:3rem;
}
li a{
  text-decoration: none;
  color:white;
  font-size: 2rem;
  transition:color 2s;
}
li button{
  text-decoration: none;
  color:white;
  font-size: 2rem;
  transition:color 2s;
  border-style:black;
  border-width: 0;
  background-color:black;
  cursor:pointer;
}
.active{
  background-color: white;
  color:green;
  padding:5px;
  border-radius: 10px;
  outline: none;
}
li a:hover{
  color:cyan;
}
li button:hover{
  color:cyan;
}
.menubutton{
    position:fixed;
    right:3rem;
    top:1.5rem;
    cursor:pointer;
}
.bar{
  display:block;
  height:0.2px;
  width:1.8rem;
  border-color:white;
  border-style:solid;
  margin-bottom: 3px;
}


.clicked .bar:nth-child(2){
     opacity: 0;
}
.clicked .bar:nth-child(1){
     transform: translateY(22px) rotate(-45deg);
}
.clicked .bar:nth-child(3){
     transform: translateY(11px) rotate(45deg);
}
.display{
  top:5rem;
}

@media screen and (max-width: 1305px){
  .about{
    top:17rem;
    left:4rem;
    right:4rem;
  }
  .slider{
    top:60rem;
    left:10rem;
  }
}
@media screen and (max-width: 554px){
  .slider{
    top:70rem;
  }
}
.reviews{
  position:absolute;
  top:43.5em;
  left:4rem;
}
h2{
  font-size: 2.3rem;
  font-family: 'Creepster', cursive;
  color:#711A75;
}
.usercomment{
  font-family: 'Stint Ultra Condensed', cursive;
  color:#371B58;
  font-size: 1.4rem;
  border-radius: 10px;
  border-color: #270082;
  border-width: medium;
  border-style: solid;
  box-shadow: 5px 10px #888888;
  background-color: #F806CC;
  text-align:left;
  padding-left: 1.3rem;
  padding-top:1rem;
  width:50rem;
  padding-bottom: 18px;
  height: 4rem;
}
.usercommentor{
  font-family: 'Updock', cursive;
  color:#270082;
  position:relative;
  left:43rem;
  font-size: 1.4rem;
  font-stretch: extra-condensed;
}
